.statusContainer {
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    width: 60vh;
    gap: 30px;
    justify-content: start;
    padding-left: 20px;
    align-items: center;


}